/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900);
/* line 5, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* line 100, ../sass/screen.scss */
div.m-scene.scene_element {
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}
/* line 105, ../sass/screen.scss */
div.m-scene.scene_element--fadein {
  animation-name: fadeIn;
}
/* line 108, ../sass/screen.scss */
div.m-scene.scene_element--fadeinup {
  animation-name: fadeInUp;
}
/* line 111, ../sass/screen.scss */
div.m-scene.scene_element--fadeinright {
  animation-name: fadeInRight;
}
/* line 115, ../sass/screen.scss */
div.parallax-title {
  color: #777;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 50px;
  width: 60%;
  position: absolute;
  text-align: justify;
  margin-left: 20%;
}
/* line 125, ../sass/screen.scss */
div.parallax-body {
  background-color: #580404;
  text-align: center;
  padding: 50px 50px;
  width: 100%;
  position: absolute;
  text-align: justify;
}
/* line 133, ../sass/screen.scss */
div.parallax-body-2 {
  background-color: #ac0a5b;
  text-align: center;
  padding: 50px 50px;
  width: 100%;
  position: absolute;
  text-align: justify;
}
/* line 141, ../sass/screen.scss */
div.quote {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  padding: 80px, 80px;
}
/* line 147, ../sass/screen.scss */
div.fadeinscroll_1, div.fadeinscroll_2, div.fadeinscroll_3, div.fadeinscroll_4, div.fadeinscroll_5, div.fadeinscroll_6, div.fadeinscroll_7, div.fadeinscroll_8, div.fadeinscroll_9 {
  opacity: 0;
}
/* line 150, ../sass/screen.scss */
div.display {
  background-color: rgba(0, 0, 0, 0.75);
}

/* line 154, ../sass/screen.scss */
#displayer {
  display: inline;
}

/* line 157, ../sass/screen.scss */
header {
  background: rgba(0, 0, 0, 0.63);
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  height: 100px;
}
/* line 164, ../sass/screen.scss */
header.nav-up {
  top: -100px;
}

/* line 168, ../sass/screen.scss */
h1 {
  text-align: center;
  letter-spacing: 20px;
  margin-left: 12px;
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 7em;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
/* line 182, ../sass/screen.scss */
h1.introend {
  letter-spacing: 8px;
  word-spacing: 25px;
  size: 5em;
  color: #fff;
}

/* line 189, ../sass/screen.scss */
h2 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 15px;
  color: #fff;
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
/* line 203, ../sass/screen.scss */
h2.overview {
  text-transform: none;
  text-align: left;
  font-size: 6em;
}

/* line 209, ../sass/screen.scss */
h3 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 8px;
  color: #fff;
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

/* line 224, ../sass/screen.scss */
#hovertext-1, #hovertext-2, #hovertext-3 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 35px;
  color: #fff;
  opacity: 0;
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 2em;
  text-transform: none;
  text-align: center;
  text-decoration: none;
}

/* line 241, ../sass/screen.scss */
h5 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-family: 'Avenir Next Condensed', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
/* line 254, ../sass/screen.scss */
h5.salmonred {
  color: #F35858;
}
/* line 257, ../sass/screen.scss */
h5.skyblue {
  color: #479DFF;
}
/* line 260, ../sass/screen.scss */
h5.orangeyellow {
  color: #F5A03F;
}
/* line 263, ../sass/screen.scss */
h5.darkgreen {
  color: #015F43;
}
/* line 266, ../sass/screen.scss */
h5.lightgrey {
  color: #9B9B9B;
}

/* line 270, ../sass/screen.scss */
p {
  font-family: 'Avenir Next';
  font-size: 1.2em;
  text-decoration: none;
  line-height: 20px;
}
/* line 279, ../sass/screen.scss */
p.quote {
  line-height: 30px;
  text-align: center;
  font-style: italic;
}
/* line 286, ../sass/screen.scss */
p.overview {
  color: #fff;
}

/* line 290, ../sass/screen.scss */
body {
  font-family: 'Avenir Next Condensed', sans-serif;
  background-color: #000;
}

/* line 297, ../sass/screen.scss */
img {
  height: 300px;
  width: 300px;
}
/* line 300, ../sass/screen.scss */
img.circleicon1, img.circleicon2, img.circleicon3 {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 0px;
  -webkit-transition: all 1s cubic-bezier(0.21, 1, 0.84, 1.01);
  -moz-transition: all 1s cubic-bezier(0.21, 1, 0.84, 1.01);
  transition: all 1s cubic-bezier(0.21, 1, 0.84, 1.01);
}
/* line 305, ../sass/screen.scss */
img.circleicon1:before, img.circleicon1:after, img.circleicon2:before, img.circleicon2:after, img.circleicon3:before, img.circleicon3:after {
  color: #000;
  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  display: block;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
/* line 313, ../sass/screen.scss */
img.circleicon1:before, img.circleicon2:before, img.circleicon3:before {
  content: attr(data-bf);
  position: absolute;
  top: -45px;
  left: -5px;
}
/* line 320, ../sass/screen.scss */
img.circleicon1:after, img.circleicon2:after, img.circleicon3:after {
  content: attr(data-af);
  position: absolute;
  right: 0;
  bottom: -30px;
}
/* line 326, ../sass/screen.scss */
img.circleicon1:hover, img.circleicon2:hover, img.circleicon3:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 328, ../sass/screen.scss */
img.circleicon1:hover:before, img.circleicon2:hover:before, img.circleicon3:hover:before {
  -webkit-transform: scale(1.2) translate(-25px, -15px);
  -moz-transform: scale(1.2) translate(-25px, -15px);
  -ms-transform: scale(1.2) translate(-25px, -15px);
  -o-transform: scale(1.2) translate(-25px, -15px);
  transform: scale(1.2) translate(-25px, -15px);
}
/* line 329, ../sass/screen.scss */
img.circleicon1:hover:after, img.circleicon2:hover:after, img.circleicon3:hover:after {
  -webkit-transform: scale(1.2) translate(25px, 15px);
  -moz-transform: scale(1.2) translate(25px, 15px);
  -ms-transform: scale(1.2) translate(25px, 15px);
  -o-transform: scale(1.2) translate(25px, 15px);
  transform: scale(1.2) translate(25px, 15px);
}
/* line 332, ../sass/screen.scss */
img.socialmedia {
  height: 100px;
  width: 100px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  margin-left: 63px;
  margin-right: 63px;
  margin-top: 0px;
  -webkit-transition: all 1s cubic-bezier(0.21, 1, 0.84, 1.01);
  -moz-transition: all 1s cubic-bezier(0.21, 1, 0.84, 1.01);
  transition: all 1s cubic-bezier(0.21, 1, 0.84, 1.01);
}
/* line 339, ../sass/screen.scss */
img.socialmedia:before, img.socialmedia:after {
  color: #000;
  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  display: block;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
/* line 347, ../sass/screen.scss */
img.socialmedia:before {
  content: attr(data-bf);
  position: absolute;
  top: -45px;
  left: -5px;
}
/* line 354, ../sass/screen.scss */
img.socialmedia:after {
  content: attr(data-af);
  position: absolute;
  right: 0;
  bottom: -30px;
}
/* line 360, ../sass/screen.scss */
img.socialmedia:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 362, ../sass/screen.scss */
img.socialmedia:hover:before {
  -webkit-transform: scale(1.2) translate(-25px, -15px);
  -moz-transform: scale(1.2) translate(-25px, -15px);
  -ms-transform: scale(1.2) translate(-25px, -15px);
  -o-transform: scale(1.2) translate(-25px, -15px);
  transform: scale(1.2) translate(-25px, -15px);
}
/* line 363, ../sass/screen.scss */
img.socialmedia:hover:after {
  -webkit-transform: scale(1.2) translate(25px, 15px);
  -moz-transform: scale(1.2) translate(25px, 15px);
  -ms-transform: scale(1.2) translate(25px, 15px);
  -o-transform: scale(1.2) translate(25px, 15px);
  transform: scale(1.2) translate(25px, 15px);
}

/* line 367, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #fff;
}

/* line 371, ../sass/screen.scss */
button {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  margin: auto;
  color: #fff;
  border: none;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir New', sans-serif;
  font-size: 2.5em;
  font-weight: 900;
}
/* line 387, ../sass/screen.scss */
button:after, button:before {
  content: '';
}
/* line 390, ../sass/screen.scss */
button.sideflags_white_home {
  width: 160px;
  height: 65px;
  line-height: 65px;
  position: relative;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 20px;
  line-height: 1;
}
/* line 396, ../sass/screen.scss */
button.sideflags_white_home .in, button.sideflags_white_home .t1:before, button.sideflags_white_home .t1:after, button.sideflags_white_home .t2:before, button.sideflags_white_home .t2:after {
  content: '';
  width: 0px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  -moz-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
}
/* line 406, ../sass/screen.scss */
button.sideflags_white_home .t1 {
  height: 60px;
  width: 48px;
  top: 0%;
  left: -48px;
  position: absolute;
}
/* line 412, ../sass/screen.scss */
button.sideflags_white_home .t1 *, button.sideflags_white_home .t1:before, button.sideflags_white_home .t1:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}
/* line 417, ../sass/screen.scss */
button.sideflags_white_home .t1:before {
  right: 0;
}
/* line 420, ../sass/screen.scss */
button.sideflags_white_home .t1 .in {
  right: 0;
  top: 22px;
}
/* line 424, ../sass/screen.scss */
button.sideflags_white_home .t1:after {
  right: 0;
  top: 45px;
}
/* line 429, ../sass/screen.scss */
button.sideflags_white_home .t2 {
  height: 60px;
  width: 48px;
  top: 0%;
  right: -48px;
  position: absolute;
}
/* line 435, ../sass/screen.scss */
button.sideflags_white_home .t2 *, button.sideflags_white_home .t2:before, button.sideflags_white_home .t2:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
/* line 440, ../sass/screen.scss */
button.sideflags_white_home .t2:before {
  left: 0;
}
/* line 443, ../sass/screen.scss */
button.sideflags_white_home .t2 .in {
  left: 0;
  top: 22px;
}
/* line 447, ../sass/screen.scss */
button.sideflags_white_home .t2:after {
  left: 0;
  top: 45px;
}
/* line 452, ../sass/screen.scss */
button.sideflags_white_home .t1:before, button.sideflags_white_home .t2:before {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 455, ../sass/screen.scss */
button.sideflags_white_home .t1 .in, button.sideflags_white_home .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 458, ../sass/screen.scss */
button.sideflags_white_home .t1:after, button.sideflags_white_home .t2:after {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 462, ../sass/screen.scss */
button.sideflags_white_home:hover .in, button.sideflags_white_home:hover .t1:before, button.sideflags_white_home:hover .t1:after, button.sideflags_white_home:hover .t2:before, button.sideflags_white_home:hover .t2:after {
  width: 48px;
}
/* line 466, ../sass/screen.scss */
button.sideflags_white_home:hover .t1:before, button.sideflags_white_home:hover .t2:before {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 469, ../sass/screen.scss */
button.sideflags_white_home:hover .t1 .in, button.sideflags_white_home:hover .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 472, ../sass/screen.scss */
button.sideflags_white_home:hover .t1:after, button.sideflags_white_home:hover .t2:after {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 477, ../sass/screen.scss */
button.sideflags_white_about {
  width: 170px;
  height: 65px;
  line-height: 65px;
  position: relative;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 20px;
  line-height: 1;
}
/* line 483, ../sass/screen.scss */
button.sideflags_white_about .in, button.sideflags_white_about .t1:before, button.sideflags_white_about .t1:after, button.sideflags_white_about .t2:before, button.sideflags_white_about .t2:after {
  content: '';
  width: 0px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  -moz-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
}
/* line 493, ../sass/screen.scss */
button.sideflags_white_about .t1 {
  height: 60px;
  width: 48px;
  top: 0%;
  left: -48px;
  position: absolute;
}
/* line 499, ../sass/screen.scss */
button.sideflags_white_about .t1 *, button.sideflags_white_about .t1:before, button.sideflags_white_about .t1:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}
/* line 504, ../sass/screen.scss */
button.sideflags_white_about .t1:before {
  right: 0;
}
/* line 507, ../sass/screen.scss */
button.sideflags_white_about .t1 .in {
  right: 0;
  top: 22px;
}
/* line 511, ../sass/screen.scss */
button.sideflags_white_about .t1:after {
  right: 0;
  top: 45px;
}
/* line 516, ../sass/screen.scss */
button.sideflags_white_about .t2 {
  height: 60px;
  width: 48px;
  top: 0%;
  right: -48px;
  position: absolute;
}
/* line 522, ../sass/screen.scss */
button.sideflags_white_about .t2 *, button.sideflags_white_about .t2:before, button.sideflags_white_about .t2:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
/* line 527, ../sass/screen.scss */
button.sideflags_white_about .t2:before {
  left: 0;
}
/* line 530, ../sass/screen.scss */
button.sideflags_white_about .t2 .in {
  left: 0;
  top: 22px;
}
/* line 534, ../sass/screen.scss */
button.sideflags_white_about .t2:after {
  left: 0;
  top: 45px;
}
/* line 539, ../sass/screen.scss */
button.sideflags_white_about .t1:before, button.sideflags_white_about .t2:before {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 542, ../sass/screen.scss */
button.sideflags_white_about .t1 .in, button.sideflags_white_about .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 545, ../sass/screen.scss */
button.sideflags_white_about .t1:after, button.sideflags_white_about .t2:after {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 549, ../sass/screen.scss */
button.sideflags_white_about:hover .in, button.sideflags_white_about:hover .t1:before, button.sideflags_white_about:hover .t1:after, button.sideflags_white_about:hover .t2:before, button.sideflags_white_about:hover .t2:after {
  width: 48px;
}
/* line 553, ../sass/screen.scss */
button.sideflags_white_about:hover .t1:before, button.sideflags_white_about:hover .t2:before {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 556, ../sass/screen.scss */
button.sideflags_white_about:hover .t1 .in, button.sideflags_white_about:hover .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 559, ../sass/screen.scss */
button.sideflags_white_about:hover .t1:after, button.sideflags_white_about:hover .t2:after {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 564, ../sass/screen.scss */
button.sideflags_white_research {
  width: 250px;
  height: 65px;
  line-height: 65px;
  position: relative;
  margin-left: 97.5px;
  margin-right: 97.5px;
  margin-top: 20px;
  line-height: 1;
}
/* line 570, ../sass/screen.scss */
button.sideflags_white_research .in, button.sideflags_white_research .t1:before, button.sideflags_white_research .t1:after, button.sideflags_white_research .t2:before, button.sideflags_white_research .t2:after {
  content: '';
  width: 0px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  -moz-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
}
/* line 580, ../sass/screen.scss */
button.sideflags_white_research .t1 {
  height: 60px;
  width: 48px;
  top: 0%;
  left: -48px;
  position: absolute;
}
/* line 586, ../sass/screen.scss */
button.sideflags_white_research .t1 *, button.sideflags_white_research .t1:before, button.sideflags_white_research .t1:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}
/* line 591, ../sass/screen.scss */
button.sideflags_white_research .t1:before {
  right: 0;
}
/* line 594, ../sass/screen.scss */
button.sideflags_white_research .t1 .in {
  right: 0;
  top: 22px;
}
/* line 598, ../sass/screen.scss */
button.sideflags_white_research .t1:after {
  right: 0;
  top: 45px;
}
/* line 603, ../sass/screen.scss */
button.sideflags_white_research .t2 {
  height: 60px;
  width: 48px;
  top: 0%;
  right: -48px;
  position: absolute;
}
/* line 609, ../sass/screen.scss */
button.sideflags_white_research .t2 *, button.sideflags_white_research .t2:before, button.sideflags_white_research .t2:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
/* line 614, ../sass/screen.scss */
button.sideflags_white_research .t2:before {
  left: 0;
}
/* line 617, ../sass/screen.scss */
button.sideflags_white_research .t2 .in {
  left: 0;
  top: 22px;
}
/* line 621, ../sass/screen.scss */
button.sideflags_white_research .t2:after {
  left: 0;
  top: 45px;
}
/* line 626, ../sass/screen.scss */
button.sideflags_white_research .t1:before, button.sideflags_white_research .t2:before {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 629, ../sass/screen.scss */
button.sideflags_white_research .t1 .in, button.sideflags_white_research .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 632, ../sass/screen.scss */
button.sideflags_white_research .t1:after, button.sideflags_white_research .t2:after {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 636, ../sass/screen.scss */
button.sideflags_white_research:hover .in, button.sideflags_white_research:hover .t1:before, button.sideflags_white_research:hover .t1:after, button.sideflags_white_research:hover .t2:before, button.sideflags_white_research:hover .t2:after {
  width: 48px;
}
/* line 640, ../sass/screen.scss */
button.sideflags_white_research:hover .t1:before, button.sideflags_white_research:hover .t2:before {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 643, ../sass/screen.scss */
button.sideflags_white_research:hover .t1 .in, button.sideflags_white_research:hover .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 646, ../sass/screen.scss */
button.sideflags_white_research:hover .t1:after, button.sideflags_white_research:hover .t2:after {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 651, ../sass/screen.scss */
button.sideflags_white_projects {
  width: 230px;
  height: 65px;
  line-height: 65px;
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  line-height: 1;
}
/* line 657, ../sass/screen.scss */
button.sideflags_white_projects .in, button.sideflags_white_projects .t1:before, button.sideflags_white_projects .t1:after, button.sideflags_white_projects .t2:before, button.sideflags_white_projects .t2:after {
  content: '';
  width: 0px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  -moz-transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.46, 1.45);
}
/* line 667, ../sass/screen.scss */
button.sideflags_white_projects .t1 {
  height: 60px;
  width: 48px;
  top: 0%;
  left: -48px;
  position: absolute;
}
/* line 673, ../sass/screen.scss */
button.sideflags_white_projects .t1 *, button.sideflags_white_projects .t1:before, button.sideflags_white_projects .t1:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}
/* line 678, ../sass/screen.scss */
button.sideflags_white_projects .t1:before {
  right: 0;
}
/* line 681, ../sass/screen.scss */
button.sideflags_white_projects .t1 .in {
  right: 0;
  top: 22px;
}
/* line 685, ../sass/screen.scss */
button.sideflags_white_projects .t1:after {
  right: 0;
  top: 45px;
}
/* line 690, ../sass/screen.scss */
button.sideflags_white_projects .t2 {
  height: 60px;
  width: 48px;
  top: 0%;
  right: -48px;
  position: absolute;
}
/* line 696, ../sass/screen.scss */
button.sideflags_white_projects .t2 *, button.sideflags_white_projects .t2:before, button.sideflags_white_projects .t2:after {
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}
/* line 701, ../sass/screen.scss */
button.sideflags_white_projects .t2:before {
  left: 0;
}
/* line 704, ../sass/screen.scss */
button.sideflags_white_projects .t2 .in {
  left: 0;
  top: 22px;
}
/* line 708, ../sass/screen.scss */
button.sideflags_white_projects .t2:after {
  left: 0;
  top: 45px;
}
/* line 713, ../sass/screen.scss */
button.sideflags_white_projects .t1:before, button.sideflags_white_projects .t2:before {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 716, ../sass/screen.scss */
button.sideflags_white_projects .t1 .in, button.sideflags_white_projects .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 719, ../sass/screen.scss */
button.sideflags_white_projects .t1:after, button.sideflags_white_projects .t2:after {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 723, ../sass/screen.scss */
button.sideflags_white_projects:hover .in, button.sideflags_white_projects:hover .t1:before, button.sideflags_white_projects:hover .t1:after, button.sideflags_white_projects:hover .t2:before, button.sideflags_white_projects:hover .t2:after {
  width: 48px;
}
/* line 727, ../sass/screen.scss */
button.sideflags_white_projects:hover .t1:before, button.sideflags_white_projects:hover .t2:before {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* line 730, ../sass/screen.scss */
button.sideflags_white_projects:hover .t1 .in, button.sideflags_white_projects:hover .t2 .in {
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/* line 733, ../sass/screen.scss */
button.sideflags_white_projects:hover .t1:after, button.sideflags_white_projects:hover .t2:after {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 739, ../sass/screen.scss */
section {
  position: relative;
  overflow: hidden;
  margin: 0 auto 0px;
}
/* line 743, ../sass/screen.scss */
section a {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 4.875em;
  font-weight: 900;
  color: #fff;
}
/* line 754, ../sass/screen.scss */
section a:after, section a:before {
  content: '';
}
/* line 758, ../sass/screen.scss */
section.head {
  background-color: #fff;
  position: relative;
  z-index: 10;
}
/* line 762, ../sass/screen.scss */
section.head a {
  width: 652px;
  height: 78px;
  line-height: 78px;
  font-weight: 200;
  color: #BABABA;
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  -moz-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
}
/* line 769, ../sass/screen.scss */
section.head a:before, section.head a:after {
  color: #000;
  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  display: block;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
/* line 777, ../sass/screen.scss */
section.head a:before {
  content: attr(data-bf);
  position: absolute;
  top: -45px;
  left: -5px;
}
/* line 784, ../sass/screen.scss */
section.head a:after {
  content: attr(data-af);
  position: absolute;
  right: 0;
  bottom: -30px;
}
/* line 790, ../sass/screen.scss */
section.head a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
/* line 792, ../sass/screen.scss */
section.head a:hover:before {
  -webkit-transform: scale(1.2) translate(-25px, -15px);
  -moz-transform: scale(1.2) translate(-25px, -15px);
  -ms-transform: scale(1.2) translate(-25px, -15px);
  -o-transform: scale(1.2) translate(-25px, -15px);
  transform: scale(1.2) translate(-25px, -15px);
}
/* line 793, ../sass/screen.scss */
section.head a:hover:after {
  -webkit-transform: scale(1.2) translate(25px, 15px);
  -moz-transform: scale(1.2) translate(25px, 15px);
  -ms-transform: scale(1.2) translate(25px, 15px);
  -o-transform: scale(1.2) translate(25px, 15px);
  transform: scale(1.2) translate(25px, 15px);
}
/* line 797, ../sass/screen.scss */
section.p11 {
  background-image: url();
}
/* line 800, ../sass/screen.scss */
section.p11 a {
  width: 314px;
  height: 78px;
  line-height: 78px;
}
/* line 804, ../sass/screen.scss */
section.p11 a:before, section.p11 a:after {
  content: '';
  position: absolute;
  height: 7px;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
}
/* line 814, ../sass/screen.scss */
section.p11 a:before {
  bottom: -6px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUoAAAAHBAMAAACcthkwAAAAD1BMVEUAAAD/vwD/vwD/vwD/vwBYa2Z+AAAABHRSTlMAwEAw9JyPcwAAAC1JREFUOMtjcMEETgwQwIJFTgEiRWdto64cdeWoK8l2pSAmEIZKMWKRMxgQbQCWVcU78Wj7hwAAAABJRU5ErkJggg==);
  -webkit-animation: road 0.9s infinite linear;
  -moz-animation: road 0.9s infinite linear;
  animation: road 0.9s infinite linear;
}
/* line 820, ../sass/screen.scss */
section.p11 a:after {
  bottom: 8px;
  background-color: #FFBF00;
}
/* line 826, ../sass/screen.scss */
section.p11 a:hover:before, section.p11 a:hover:after {
  -webkit-transform: translate(0, 0px);
  -moz-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
  opacity: 1;
}
/* line 834, ../sass/screen.scss */
section.p14 {
  background-image: url();
}
/* line 836, ../sass/screen.scss */
section.p14 a {
  width: 322px;
  height: 94px;
  line-height: 94px;
  z-index: 10;
}
/* line 841, ../sass/screen.scss */
section.p14 a:before, section.p14 a:after {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: -35%;
  right: -10%;
  -webkit-transition: all 1s cubic-bezier(0.45, 0.76, 0.58, 0.94);
  -moz-transition: all 1s cubic-bezier(0.45, 0.76, 0.58, 0.94);
  transition: all 1s cubic-bezier(0.45, 0.76, 0.58, 0.94);
}
/* line 851, ../sass/screen.scss */
section.p14 a:before {
  background-color: #011925;
  z-index: -1;
}
/* line 855, ../sass/screen.scss */
section.p14 a:after {
  background-color: #fff;
  z-index: -2;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
/* line 861, ../sass/screen.scss */
section.p14 a:hover:after {
  -webkit-transform: scale(1) translate(10px);
  -moz-transform: scale(1) translate(10px);
  -ms-transform: scale(1) translate(10px);
  -o-transform: scale(1) translate(10px);
  transform: scale(1) translate(10px);
}
/* line 868, ../sass/screen.scss */
section.citysilhouette a {
  width: 632px;
  height: 124px;
  line-height: 124px;
  z-index: 10;
  overflow: hidden;
}
/* line 874, ../sass/screen.scss */
section.citysilhouette a:before, section.citysilhouette a:after {
  position: absolute;
  left: 0;
  display: block;
  height: 150px;
  background-size: contain;
  opacity: 1;
  -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.64, 1.55);
  -moz-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.64, 1.55);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.64, 1.55);
  opacity: 0;
  top: 50px;
}
/* line 885, ../sass/screen.scss */
section.citysilhouette a:before {
  background-image: url("http://www.australiasbestcity.com.au/wp-content/uploads/2014/02/Cityscape.png");
  width: 1772px;
  z-index: -1;
  -webkit-animation: linmove 30s infinite linear;
  -moz-animation: linmove 30s infinite linear;
  animation: linmove 30s infinite linear;
}
/* line 893, ../sass/screen.scss */
section.citysilhouette a:hover:before, section.citysilhouette a:hover:after {
  opacity: 0.5;
  top: 0;
}
/* line 897, ../sass/screen.scss */
section.citysilhouette a:hover:before {
  transition-delay: .2s;
}
/* line 902, ../sass/screen.scss */
section.citysilhouette.p17 {
  background-image: url();
}
/* line 904, ../sass/screen.scss */
section.citysilhouette.p17 a {
  width: 546px;
  height: 94px;
  line-height: 94px;
}
/* line 908, ../sass/screen.scss */
section.citysilhouette.p17 a:before {
  content: '';
  position: absolute;
  width: 334px;
  height: 326px;
  position: relative;
  margin-left: 250.5px;
  margin-right: 250.5px;
  margin-top: 163px;
  background-size: contain;
  opacity: 0;
  -webkit-animation: rodarodajequiti 50s infinite linear;
  -moz-animation: rodarodajequiti 50s infinite linear;
  animation: rodarodajequiti 50s infinite linear;
  -webkit-transition: all 1s cubic-bezier(0.17, 0.67, 0.48, 1.32);
  -moz-transition: all 1s cubic-bezier(0.17, 0.67, 0.48, 1.32);
  transition: all 1s cubic-bezier(0.17, 0.67, 0.48, 1.32);
}

@-webkit-keyframes linmove {
  from {
    -webkit-transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-886px);
  }
}
@-moz-keyframes linmove {
  from {
    -moz-transform: translate(0px);
  }
  to {
    -moz-transform: translate(-886px);
  }
}
@keyframes linmove {
  from {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -ms-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
  }
  to {
    -webkit-transform: translate(-886px);
    -moz-transform: translate(-886px);
    -ms-transform: translate(-886px);
    -o-transform: translate(-886px);
    transform: translate(-886px);
  }
}
